.home {
    padding: 20px;
}

.home-options {
    margin-bottom: 30px;
}

.cattile {
    float: left;
    margin: 5px;
    padding: 5px;
    border: 1px solid black;
}

.cattile img {
    max-width: 300px;
}

.cattile p {
    max-width: 300px;
}


